@font-face {
    font-family: uconnfont;
    src: url(../fonts/uconn.otf);
}

h1, h2, h3, h4{
	font-family: 'Montserrat', sans-serif;
}

.navlogo {
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	font-weight: 700;
}

.navlogo:hover {
	color: #777 !important;
}

.hack {
	color: #00B0FF;
}

.navpadding {
	padding-right: 0px !important;
}

.logopadding {
	margin-top: -12px !important;
}

.header {
	margin-top: 50px;
}

.cardwhite {
	margin-bottom: 30px;
}

.cardblue {
	background: url(../img/field.svg) #40c4ff;
	background-size: cover;
	padding-bottom: 50px;
	color: white;
	min-height: 400px;
}

.getinvolved {
	padding-top: 30px;
	text-shadow: rgb(90, 90, 90) 0px 0px 3px;
}

.getinvolved::selection {
	background: white;
}

.centeredtext {
	text-align: center;
}

.ready {
	font-size: 1.2em;
	text-shadow: rgb(90, 90, 90) 0px 0px 3px;
}

.ready::selection {
	background: white;
}

.btnxp {
	background: #00B0FF !important;
	border-color: #00B0FF !important;
	color: white !important;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btnxp:hover {
	background: #0091EA !important;
	border-color: #0091EA !important;
}

.footer {
	background: #1e1e1e;
	color: gray;
	padding-top: 40px;
	padding-bottom: 40px;
}

.footerlink {
	text-decoration: none;
	color: gray;
}

.footerlink:hover {
	text-decoration: none;
	color: white;
}

.right {
	text-align: right;
}

@media only screen and (max-width: 480px) {
	.footer {
		text-align: center;
	}
	
	.right {
		text-align: center;
	}
	
	.navpadding {
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	
	.navlogo {
		padding-left: 0px !important;
	}
	
}