

######################################################################
### Jekyll GitIgnore Entries - https://github.com/github/gitignore ###
######################################################################
_site/
.sass-cache/
.jekyll-metadata
